<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">


<module name="Checker">


    <!-- Checks that property files contain the same keys. -->
    <module name="Translation"/>

    <!-- Checks that no tab characters in the source code. -->
    <!-- Reports only first instance. -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="false"/>
    </module>


    <!-- Checks that no file is more than 1500 lines long. -->
    <module name="FileLength">
        <property name="max" value="1500"/>
    </module>

    <!-- Check that length of line is at most 80 characters. -->
    <module name="LineLength">
        <property name="max" value="80"/>
        <property name="ignorePattern" value="^ *\* *[^ ]+$"/>
    </module>


</module>
